.env
HELP.md
logs/
src/main/resources/application-prod.yml
src/main/resources/application-local.yml
src/main/resources/kuroom-90fb5-firebase-adminsdk-fbsvc-f264f66c64.json

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### RestDocs ###
src/main/resources/static/docs/

### QueryDSL ###
/src/main/generated/

### ngrinder ###
ngrinder-controller/
